header {
  height: 5rem;
}

.bg-whitish {
  background-color: #f4f4f4;
}

.w-full {
  width: 100%;
}

@media (min-width: 768px) {
  .md\:w-1\/2 {
    width: 50%;
  }
}

.w-1\/3 {
  width: 33.333333%;
}
